/*contacto*/ 

.iconosContacto {width: 60px !important;
                height: 45px !important;
                padding: 0px 20px 0px 0px;
                animation-name: iconos;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 2s;
                animation-delay: 0s;}

.paginas {font-size: 100%;
         font-weight: bold;
         padding: 0px 0px 0px 0px;
         margin: 75px 0px 100px 0px;}

.paginas:hover {
    p {
        a { text-decoration: none !important;
            color: black !important;
            background-color: rgba(206, 140, 176, 0.479);}
    }
}

.icon {display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: baseline;}